<div class="container mx-auto mt-20 max-w-md">
  <form  #form="ngForm"  (ngSubmit)="onFromSubmit(form)" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 mx-auto">
      <div class="mb-4 grid grid-cols-1 md:grid-cols-2 gap-4">
          <div>
              <label for="fullname" class="block text-gray-700 text-sm font-bold mb-2">Full Name <span class="text-red-500">*</span></label>
              <input required type="text" class="form-input rounded-md shadow-sm w-full" id="fullname" #customerName="ngModel" ngModel  name="customerName" placeholder="Full Name">
          </div>
          <div>
              <label for="phone" class="block text-gray-700 text-sm font-bold mb-2">Phone Number <span class="text-red-500">*</span></label>
              <div class="relative">
                  <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                          <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                      </svg>
                  </span>
                  <input required type="tel" #contactNo="ngModel" ngModel class="form-input pl-10 rounded-md shadow-sm w-full" id="phone" name="contactNo" placeholder="Phone Number">
              </div>
          </div>
      </div>
      <div class="mb-4">
          <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email <span class="text-red-500">*</span></label>
          <div class="relative">
              <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope" viewBox="0 0 16 16">
                      <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
                  </svg>
              </span>
              <input required type="email" #email="ngModel" ngModel class="form-input pl-10 rounded-md shadow-sm w-full" id="email" name="email" placeholder="Email">
          </div>
      </div>
      <div class="flex gap-10">
      <div class="mb-4">
          <label for="subject" class="block text-gray-700 text-sm font-bold mb-2">Subject <span class="text-red-500">*</span></label>
          <select required #subject="ngModel" ngModel name="enquirySubjectId" class="form-select rounded-md shadow-sm w-full">
              <option  value="">Select Subject</option>
              <option *ngFor="let item of enquirySub" [value]="item.enquirySubjectId">{{item.enquirySubject}}</option>
           
          </select>
      </div>
      <div class="mb-4">
          <label for="subject" class="block text-gray-700 text-sm font-bold mb-2">Status <span class="text-red-500">*</span></label>
          <select required #status="ngModel" ngModel name="enquiryStatusId" class="form-select rounded-md shadow-sm w-full">
              <option  value="">Select Status</option>
              <option *ngFor="let item of enquiryStatus" [value]="item.enquiryStatusId">{{item.enquiryStatus}}</option>
           
          </select>
      </div>
    </div>
      <div class="mb-2">
          <label for="message" class="block text-gray-700 text-sm font-bold mb-2">Narration <span class="text-red-500">*</span></label>
          <textarea required ngModel #title="ngModel" name="naration" class="form-textarea rounded-md shadow-sm w-full" id="message" n placeholder="Enter Narration" rows="3"></textarea>
      </div>
      <ng-container *ngIf="form.invalid &&form.submitted" >
      <div class="mb-4"> <small class="text-red-600 font-medium" >
*Please fill all  required fields
      </small></div>
    </ng-container>
     
      <div class="flex justify-between">
          <button class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded" type="button">Cancel</button>
          <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit" >Save Enquiry</button>
      </div>
  </form>
</div>
